.ico-24 {
    width: 24px;
    height: 24px;
}

.ico-28 {
    width: 28px;
    height: 28px;
}

.ico-32 {
    width: 32px;
    height: 32px;
}

.pointer {
    cursor: pointer;
}

.blue-a {
    color: #7173FA;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    text-decoration: none;
    cursor: pointer;
}


/* scroll */
.scroll-div-y {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

/* scroll */
.scroll-div-x {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.scroll-div-y::-webkit-scrollbar {
    width: 7px;
}

.scroll-div-x::-webkit-scrollbar {
    height: 7px;
}

.custom-scroll::-webkit-scrollbar-track {
    background-color: transparent;
    /* border: 1px solid lightgray; */
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.custom-scroll {
    scrollbar-width: 5px;
}

.custom-scroll {
    scrollbar-color: darkgrey;
    scrollbar-width: 5px;
}


.custom-scroll-small.scroll-div-y::-webkit-scrollbar {
    width: 3px !important;
    cursor: pointer !important;
}


.custom-scroll-small.scroll-div-x::-webkit-scrollbar {
    height: 3px !important;
    cursor: pointer !important;
}

.custom-scroll-small::-webkit-scrollbar-track {
    background-color: transparent;
    /* border: 1px solid lightgray; */
}

.custom-scroll-small::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 2px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    cursor: pointer !important;
}

.custom-scroll-small {
    scrollbar-width: 3px;
}

.custom-scroll-small {
    scrollbar-color: darkgrey;
    scrollbar-width: 3px;
}

.custom-scroll-hide::-webkit-scrollbar {
    height: 0px;
}
